ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.navbar {
    position: fixed;
    top: 0;;
    width: 100%;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration:  none;
}


li a:hover {
    background-color: #111;
}

body {
    margin: 4% auto;	
}

img {
    width: 40%;
    margin-right: 5px;
    float: left;
}

@media screen and (min-width:481px) {
body {width: 100%;}
}

@media screen and (max-width:480px) {
body {width:100%;} 
#accordion{width:100%;}
}

